:root{
    --black: #2a2a2a;
    --section-left-right-padding: 0 4rem;
    --section-left-right-padding-skinny: 0 2rem;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    position: relative;
    width: 800px;
    margin: auto;

    /* background: #5392C7;
    background: -webkit-linear-gradient(top left, #5392C7, #EAEA65);
    background: -moz-linear-gradient(top left, #5392C7, #EAEA65);
    background: linear-gradient(to bottom right, #5392C7, #EAEA65); */
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

nav{
    top: 0;
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    height: 3.33rem;

    /* background-color: lightgoldenrodyellow; */
    /* background-color: #5392C7; */
    /* border: 1px solid lightcoral; */
}
nav ul{
    list-style-type: none;
    display: flex;

    margin: 0;
    padding-left: 0;
    width: 100%;
}

nav li{
    width: 100px;
}

nav li a{
    color: #382c27;
    font-size: 20px;
}

nav li:last-of-type{
    position: absolute;
    right: 0;
}

nav li:last-of-type{
    position: absolute;
    right: 0;
    width: auto;
}

h1{
    color: #382c27;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 45px;
}

h2{
    text-align: center;
    margin-top: 0;
    color: #382c27;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.logo-decoration{
    width: 50px;
    height: auto;
    /* filter: drop-shadow(3px 3px 3px #747474); */
    filter: drop-shadow(3px 3px 3px #7dadd4);
}

section{
    position: relative;
    min-height: 250px;
}
section:first-of-type{
    margin-top: 40px;
}



.width-100-percent{
    width: 100%;
}
.margin-top-large{
    margin-top: 100px;
}

.keep-column{
    flex-direction: column;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.text-align-center{
    text-align: center;
}

section,
#screenshots,
.logo-container{
    box-sizing: border-box;
    width: 100vw;
    max-width: 800px;

    display: flex;
    align-items: center;

}

#author, #privacy{
    padding: var(--section-left-right-padding);

    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.carousel.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  box-shadow is from materialize css's website */
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container img {
    width: 100%;
    z-index: -2;
}



button {
    height: 10%;
    border: none;
    /* outline: none; */
    /* background: rgba(0, 0, 0, 0.5); */
    /* background: #fff1eb; */
    background: rgba(255, 241, 235, .7);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    /* border: solid #fff; */
    border: solid var(--black);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    margin: auto 0 auto -1rem;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -1rem auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}



.img-hidden{
    display: none;
}



section#author{
    display: flex;
}

section#author p{
    margin-top: 0;
}

.supported-pages{
    list-style-type: none;
    font-size: 22px;

    text-align: center;
    display: flex;
    flex-direction: column;

    padding-left: 0;
    margin-top: 55px;
    margin-bottom: 0;
}
.supported-pages label{
    margin-bottom: 22px;
}

/* my photo */
.myself{
    width: 310px;
    height: 250px;
    margin-left: 100px;
}


#privacy{
    margin-top: 40px;
    padding: var(--section-left-right-padding);
    min-height: auto;
}
#privacy p{
    margin: 0;
}

section a{
    color: #382c27;
}

#credits{
    padding: var(--section-left-right-padding);
    padding-top: 3rem;
    padding-bottom: 250px;
}


@media only screen and (max-width: 869px){

    body{
        width: 100vw;
        margin: auto;
    }

    section:first-of-type{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    section:first-of-type h1{
        margin-top: 2rem;
    }

    .margin-top-large {
        margin-top: 80px;
    }

    .carousel button{
        /* display: none; */
        box-sizing: border-box;
        width: 43px;
        height: 43px;
        background: rgba(255, 241, 235, .93);
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #right-btn {
        margin: auto 0 auto -3rem;
    }
    #left-btn {
        margin: auto -3rem auto 0;
    }

    .change-flex-direction{
        flex-direction: column-reverse;
    }
    .change-flex-direction img{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .change-flex-direction > div{
        text-align: center;
    }
}

@media only screen and (max-width: 539px){

    nav{
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    nav ul{
        justify-content: space-between;
    }
    nav ul li:last-of-type{
        right: 20px;
    }

    nav ul li{
        width: auto;
        padding: 0 5px;
    }
    nav ul li:last-of-type{
        position: static;
    }

    section,
    .logo-container{
        padding: var(--section-left-right-padding-skinny);
    }
    section#screenshots{
        padding-left: 0;
        padding-right: 0;
    }
    #about, #author, #privacy{
        padding: var(--section-left-right-padding-skinny);
    }
    h1{
        font-size: 3rem;
    }

    p{
        font-size: 23px;
    }

    .thank-you{
        margin-top: 40px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 869px){

    nav{
        box-sizing: border-box;
        width: 100vw;
        padding: 0 20px;
    }
    nav ul{
        display: flex;
    }
    nav ul li:last-of-type{
        position: static;
    }

    section,
    .logo-container{
        padding: var(--section-left-right-padding-skinny);
    }
    section#screenshots{
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 870px){

    body{
        width: 800px;
        margin: 0 auto;
    }

    nav{
        width: 800px;
    }

    #author{
        align-items: flex-start;
    }
}